
	
	/*Navigation Bar*/
	
	.affix {								
		top:0;
		width: 100%;
		z-index: 9999 !important;
	}
  
	.navbar{
		margin-bottom: 0px;
		font-size: 150%;
	}

  
	.navbar-brand{
		font-size: 100%;
  
	}

	.affix ~ .container-fluid {
		position: relative;
		top: 100px;
	}
  
  
	#Logo{
		width: 10%;
		height: 10%;
		float: left;
	}
	

	
	#navigationColour{					/*Navigation colour (for all pages)*/
		background-color: #00191e;
	}
	
	#main {								/*Background colour (for all pages)*/
		background-color: #A3A4A4;
	}
	

	
	/*Carousel on welcome page*/
	.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
		width: 65%;
		margin: auto;
	}
	
	
	/*Log-in form on welcome page*/
	.form-inline{
		float: right;
	}

		/* Registration Page */

	div.reg_container {
    	width: 50%;
    	padding: 12px 20px;
    	margin: 8px 0;
    	display: inline-block;
    	text-align: left;
	}

	#uni {
		width: 100%;
		height : 35px;
		font-family: sans-serif;	
	}

	#register {
		left:220px;
		position: relative;
		background-color: #00191e;
		border: 3px solid black;
		border-radius: 12px;	
		font-size: 28px;
		color: white;
		padding: 5px;
		width: 200px;
		text-align: center;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		text-decoration: none;
		overflow: hidden;
		cursor: pointer;
	}

	#register:hover {
		background-color: #003541; 
		color: black;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

	}
	

  
  /*'About' sections on Main Menu page*/
	#section1 {padding-top:50px;padding-bottom:50px;height:110%;color: #fff; background-color: #A3A4A4; 
				text-align:center; font-size:150%;}
	#section2 {padding-top:50px;padding-bottom:50px;height:110%;color: #fff; background-color: #004b5d;
				 font-size:150%;}
	#section3 {padding-top:50px;padding-bottom:50px;height:110%;color: #fff; background-color: #00191e;
				text-align:center; font-size:150%;}
	#section4 {padding-top:50px;padding-bottom:50px;height:110%;color: #fff; background-color: #A3A4A4;
				font-size:150%;}
	#section5 {padding-top:50px;padding-bottom:50px;height:110%;color: #fff; background-color: #004b5d;
				font-size:150%;}
	
  
  
	#opening {					/*Header for all the sections*/
		text-align: center;
		font-size: 200%;
	}
 
	
	#leftside{					/*Text on the left side of sections*/
		text-align:left;
		margin-top:6%;
		
	}
	
	#rightside{					/*Image on the right side of sections*/
		text-align:center;
		margin-top:5%;
		
	}
	
	#moreMargin{				/*Left side text with more margin (to line up with bigger picture)*/
		text-align:left;
		margin-top:10%;
	}
  
  
 




 /*Game Page*/


	#timer {
		float: left;
		text-align: center;
		width: 15%;
		color: #00191e;	
		font-size: 30px;
		border: none;
	}
	
	#AvatarData{					/*Data in the Avatar Table*/
	 border:none;
	 width: 100%;
 }
 
	figure {
		width: 100%;
		height: 20%;
	}
	
	canvas:hover {		/*White cards when hover*/
		border: 1px solid #777;	
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	
	#submitAnswerBtn {
		clear: both;	

	}
	
	#submit1{					/*Submit button on game page*/
		/*left:220px;*/
		position: center;
		background-color: #00191e;
		border: 3px solid black;
		border-radius: 12px;	
		font-size: 200%;
		color: white;
		padding: 5px;
		width: 20%;
		text-align: center;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		text-decoration: none;
		overflow: hidden;
		cursor: pointer;
	}

	
	button.submitbutton:hover {	
		background-color: #003541; 
		color: black;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
	
	
	
	
	/* The next 17 styles are irrelevant now for game page (but left them in incase someone is working on the multiplayer page)*/
	
	* {
	    box-sizing: border-box;
	}
	
	div.playerList {		/*Other players' avatars*/
		list-style-type:none;
		float: left;
		border-style: none;
	}

	
	aside {
		float: left;
		width: 10%;
		margin-top: 5%;
	}

	#avatar {
		width: 100%;
		height: 20%;
	}

	

	section {
		
		width: 84%;
		float: right;

	}

	div.blackscenario {

		position: relative;
		width: 20%;	
		min-height: 320px;
		margin-right: 5%;

	}

	#blackimage {

		position: absolute;
		width: 250px;
		height: 300px;

	}


	#blackCardHeader {
		
		color:white;
		position: absolute;
		width:100%;
		
	}

	#blackCardText{
		color: white;
		margin-top: 120px;
		
	}

	#black:hover {		/*Black card when hover*/
		border: 1px solid #777;	
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

	#cardContainer {
		
		display: inline-block;
		position: relative;
		width: 100%;
		
	}

	.whiteImage {
		
		position: relative;
		float: left;

	}

	#card {
		display: inline-block;
		width: 19%;
		height: 23em;
	}
	
	#whiteCardTable {

		margin-top:110px;
		width: 100%;
		position: absolute;

	}
	
	#whiteCardData {
		width:20.75%;
		text-align: center;
		
	}

	#whiteCardData:hover {
		
		border-left:1px solid black;
		border-right:2px solid black;

	}

	#card:hover {		/*White cards when hover*/
		border: 1px solid #777;	
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}

	

	
	
	
	
	
	

	/*Judging Page*/
  
  #radioOptions{			/*Radio button form*/
		font-size: 250%;
  }
  
  #radioPosition{
		margin-top: 2%;
		text-align: center;
  }
  
  #submit2{					/*Submit button for Judging page*/
		background-color: #00191e;
		border: 3px solid black;
		border-radius: 12px;	
		font-size: 28px;
		color: white;
		padding: 5px;
		width: 200px;
		text-align: center;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		text-decoration: none;
		overflow: hidden;
		cursor: pointer;
  }
  
  #submit:hover {
		background-color: #003541; 
		color: black;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

	#myModal{
       		top:35%;
 		left:5%;
           text-align: center;
	font-size: 150%;
	}
  
  
  
  
  
/*Results Page*/
	
	#resultTable {										/*Table with runner-ups*/
		border-collapse: collapse;
	}
	
	#resultData {
		border-bottom: 1px solid black;
		border-top: none;
	}
		
	#resultRow:hover{background-color:#f5f5f5;}			/*when runner-up is hovered over*/


	#leftResult{										/*Winner section*/
		text-align:center;
		margin-top:3%;
		font-size:150%;
	}

	#winner{
		font-size:300%;
	}

	#rightResult{										/*Runner-up section*/
		margin-top:10%;
	}


	

	
	
	
/*Leaderboard Page*/
		#leaderHeader{								/*Header for leaderboard*/	
			text-align: center;
		}
		
		
		#Leaderboard{								/*top3 leaderboard*/
			margin-left: 10%;
			margin-right: 10%;
			
		}
		#leaderData{				
			border-bottom: 1px solid black;
			border-top: none;
			font-size: 20px;
		}
		#leaderRow:hover{
			background-color:#004b5d;
			color: #ffffff;
		}
		
		
		#Leaderboard2{								/*rest-of-players scrollable leaderboard*/
			margin-left: 10%;
			margin-right: 10%;
			height: 200px;
			overflow-y: scroll;
		}
		#leaderData2{
			border-bottom: 1px solid black;
			border-top: none;
			
		}
		#leaderRow2:hover{
			background-color:#f5f5f5;
		}
		

  
	
	