


body{
	 
	  background-image: url("maynooth.JPG");
     background-repeat: no-repeat; 
     background-size: cover;
}



#top
{
  
  color: blue;
  text-align: center;
   
  
}
img{
	
	margin-left:150px;
	
	
}
#middle
{
  color: red;
  text-align: center;
   font:bold 25px arial, sans-serif;
}
#bottom
{
  text-align:center;
  color: red;
}
#positioning
{
	
	position: fixed;
    //top: 0;
    right: 0;
    width: 150px;
	color: black;
	text-align: left;
	

	}
	
	h1{
		
		 
            text-shadow:5px 5px black;
            text-transform: capitalize;
		    font:bold 75px arial, sans-serif;
	}
	
	h3{
		
		    text-shadow:5px 5px black;
            text-transform: capitalize;
		    font:bold 65px arial, sans-serif;
			text-align:left;
			margin-left:375px;
		
	}
	
	a{
		
		
		
		color:red;
		font-family:Impact, Charcoal, sans-serif ;
		font-size: 200%;
		
		
	}
	
	a:hover{
		color:blue;
		
	}
    

