            body {font-family:Arial, Sans-Serif;}
            body {background-color:#4A96AD;}
            h1 {color:#ECECEA;}
            p {color:#ECECEA;}
            input[type="submit"] {
                  background-color:#D9853B;
                  font-family:Arial;
                  color:#ECECEA;
                  font-size:150%;
                  width: 200px; 
                  height: 50px; 
                  border: 0;
            }
 
            #container {width:300px; margin:0 auto;}
 
            
            form label {display:inline-block; width:150px; color:#ECECEA; font-size:125%;}
 
            form input[type="text"],
            form input[type="password"],
            form input[type="email"] {width:200px;}
 
            form .line {clear:both;}