		#container {width:300px; margin:0 auto;}
 
            form input[type="email"],
            form input[type="password"] {width:200px;}
 
            body {font-family:Arial, Sans-Serif;}
            body {background-color:#4A96AD;}
            
            h1 {color:#ECECEA;}
            h3 {color:#ECECEA;}
            
            input[type="submit"] {
                  background-color:#D9853B;
                  font-family:Arial;
                  color:white;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                  padding: 15px 32px;
                  border: 0;
            }
            
            form label {display:inline-block; width:150px; color:#ECECEA; font-size:125%;}

            button {
            background-color:#D9853B; 
            border: none;
            color: white;
            font-family:arial;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            }
          }